node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

#python
*.png
*.jpg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

syntax: glob
*.pyc
*~
.DS_Store
db.sqlite3
*.sqlite3

.idea
.vscode
upload/*